{%extends 'base.html'%} {%load static%} {%block content%}

<section class="bg-white text-neutral-900 text-sm" x-data="home">
  {{crypto|json_script:'crypto'}}
  <!--  -->
  {%include 'components/nav.html'%}
  <!-- header section -->
  <div class="bg-white">
    <div class="relative isolate px-6 pt-14 lg:px-8">
      <div
        class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(50%-11rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>
      <div class="mx-auto max-w-2xl py-32 ">
        <div class="hidden sm:mb-8 sm:flex sm:justify-center">
          <div
            class="relative rounded-full px-3 py-1 text-sm/6 text-gray-600 ring-1 ring-gray-900/10 hover:ring-gray-900/20"
          >
            Exciting market opportunities
            
          </div>
        </div>
        <div class="text-center">
          <h1
            class="text-5xl font-semibold tracking-tight text-balance text-gray-900 sm:text-7xl"
          >
            Promoting trading strategies and performance
          </h1>
          <p
            class="mt-8 text-lg font-medium text-pretty text-gray-500 sm:text-xl/8"
          >
          Trade with the world’s largest retail broker and benefit from better-than-market conditions
          </p>
          <div class="mt-10 flex items-center justify-center gap-x-6">
            <a
              href="/accounts/sign-up/"
              class="rounded-md bg-black px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:bg-main focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-main"
              >Get started</a
            >

          </div>
        </div>
      </div>
      <div
        class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
        aria-hidden="true"
      >
        <div
          class="relative left-[calc(50%+3rem)] aspect-1155/678 w-[36.125rem] -translate-x-1/2 bg-linear-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
          style="
            clip-path: polygon(
              74.1% 44.1%,
              100% 61.6%,
              97.5% 26.9%,
              85.5% 0.1%,
              80.7% 2%,
              72.5% 32.5%,
              60.2% 62.4%,
              52.4% 68.1%,
              47.5% 58.3%,
              45.2% 34.5%,
              27.5% 76.7%,
              0.1% 64.9%,
              17.9% 100%,
              27.6% 76.8%,
              76.1% 97.7%,
              74.1% 44.1%
            );
          "
        ></div>
      </div>
    </div>
  </div>

  <!-- header section ends -->

  <!-- rating and intro section -->
  <div class="bg-white py-32 ">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2
          class="text-4xl font-semibold tracking-tight text-pretty text-gray-900 sm:text-5xl"
        >
          We have the numbers to make your trading a better experience
        </h2>
        <p class="mt-6 text-base/7 text-gray-600">
          We provide the data and numbers you need to enhance your trading experience, making smarter, more informed, and efficient decisions.
        </p>
      </div>
      <div
        class="mx-auto mt-16 flex max-w-2xl flex-col gap-8 lg:mx-0 lg:mt-20 lg:max-w-none lg:flex-row lg:items-end"
      >
        <div
          class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-50 p-8 sm:w-3/4 sm:max-w-md sm:flex-row-reverse sm:items-end lg:w-72 lg:max-w-none lg:flex-none lg:flex-col lg:items-start"
        >
          <p class="flex-none text-3xl font-bold tracking-tight text-gray-900">
            250k
          </p>
          <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
            <p class="text-lg font-semibold tracking-tight text-gray-900">
              Users on the platform
            </p>
            <p class="mt-2 text-base/7 text-gray-600">
              Over 250,000 traders trust our platform for smarter, data-driven trading
            </p>
          </div>
        </div>
        <div
          class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-gray-900 p-8 sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-sm lg:flex-auto lg:flex-col lg:items-start lg:gap-y-44"
        >
          <p class="flex-none text-3xl font-bold tracking-tight text-white">
            $8.9 billion
          </p>
          <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
            <p class="text-lg font-semibold tracking-tight text-white">
              We’re proud that our customers have made over $8 billion in total
              revenue.
            </p>
            <p class="mt-2 text-base/7 text-gray-400">
              Our platform has facilitated $8.9 billion in revenue, empowering 250,000+ traders with data-driven insights for smarter and more efficient trading
            </p>
          </div>
        </div>
        <div
          class="flex flex-col-reverse justify-between gap-x-16 gap-y-8 rounded-2xl bg-indigo-600 p-8 sm:w-11/12 sm:max-w-xl sm:flex-row-reverse sm:items-end lg:w-full lg:max-w-none lg:flex-auto lg:flex-col lg:items-start lg:gap-y-28"
        >
          <p class="flex-none text-3xl font-bold tracking-tight text-white">
            401,093
          </p>
          <div class="sm:w-80 sm:shrink lg:w-auto lg:flex-none">
            <p class="text-lg font-semibold tracking-tight text-white">
              Transactions this year
            </p>
            <p class="mt-2 text-base/7 text-indigo-200">
              Our platform has handled 401,093 transactions, ensuring seamless and efficient trading for our users.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- intro and rating ends -->

  <!-- convincing talk modal section -->

  <section
    class="bg-gradient-to-tr from-gray-50 to-sky-200 py-20 max-md:py-10 px-20 max-md:px-5 max-md:flex-col items-center flex justify-around max-md:gap-10"
  >
    <!-- header text,text and cta -->
    <div class="max-md:w-full">
      <h1 class="text-4xl max-md:text-2xl font-semibold mb-5">
        Try with zero risk
      </h1>
      <p class="w-2/3 text-base max-md:w-full">
        Try any trade, on any platform with a zero-risk, demo trading account.
      </p>
      <a
        href="{%url 'sign-up'%}"
        class="bg-main text-dark px-5 py-3 rounded-full mt-5 w-fit block"
        >Start Trading <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
    <img
      src="https://images.pexels.com/photos/8370429/pexels-photo-8370429.jpeg"
      alt=""
      class="rounded-2xl h-[60vh] object-cover w-1/2 max-md:w-full"
    />
  </section>
  <!-- 2nd convincing item -->
  <section
    class="bg-[#060f1f] text-center text-neutral-100 py-20 max-md:py-10 max-md:pt-32 px-20 max-md:px-5 flex-col items-center flex justify-around max-md:gap-10"
  >
    <!-- header text,text and cta -->
    <div class="max-md:w-full place-items-center">
      <h1 class="text-4xl max-md:text-2xl font-semibold mb-5">
        The markets are on the move
      </h1>
      <p class="text-base w-3/5 max-md:w-full">
        Pair up with the region’s leading broker and trade forex without limits.
        With over $6 trillion changing hands daily, the forex market offers
        unparalleled opportunities to go long or short, hedge your portfolio,
        and capitalize on wider market volatility.
      </p>
      <a
        href="{%url 'sign-up'%}"
        class="bg-main text-dark px-5 py-3 mx-auto rounded-full mt-5 w-fit block"
        >Start Trading <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
    <img
      src="../../static/images/home-image.jpg"
      alt=""
      class="rounded-2xl w-1/2 max-md:w-full max-md:scale-90"
    />
  </section>
  <!-- convincing talk modal section ends -->

  <!-- buy crypto container -->

  <!-- copy trader explained -->
  <!-- <div
    class="py-10 px-10 max-md:px-5 flex flex-col-reverse max-sm:flex-col-reverse relative items-center max-md:gap-10 gap-20 justify-center bg-[#030327]">
    blob stick div

    <video class="" poster="/static/images/Toro-Investors.png" src="/static/videos/Toro-Investors.mp4"></video>
    <div class="max-md:text-center flex flex-col gap-1 items-center text-dark text-sm text-center">
      <h1 class="text-3xl font-semibold mt-3 mb-5">
        Copy Trading, A Trading Superpower
      </h1>
      <span class="font-light text-neutral-400 w-1/2 max-md:w-full">
        With Swift Exchange innovative CopyTrader™, you can automatically copy the
        moves of other investors. Find investors you believe in and replicate
        their actions in real time.
      </span>
      <a href="{%url 'sign-up'%}"
        class="border bg-white text-dark text-sm px-5 py-3 rounded-full max-md:mx-auto max-md:hidden mt-5 w-fit block">Start
        Expert Trading<i class="ri-arrow-right-up-line"></i></a>
    </div>
  </div> -->

  <!-- copy trader explain ends -->

  <!-- reasons start -->
  <!-- reasons end -->

  <!-- portfolio trader explained -->
  <div
    class="py-10 mt-20 max-md:px-5 w-4/5 mx-auto text-dark flex max-sm:flex-col-reverse relative items-center max-md:gap-10 gap-20 justify-center"
  >
    <!-- blob stick div -->

    <img
      src="/static/images/cfi.webp"
      class="w-1/2 max-md:scale-110 max-md:w-full max-md:object-cover rounded-3xl"
    />
    <div class="max-md:text-center flex flex-col gap-1 text-dark text-sm">
      <h1 class="text-4xl max-md:text-2xl font-semibold text-dark mt-3 mb-10">
        Explore multiple trading tools
      </h1>
      <span class="font-light text-neutral-400 max-md:w-full">
        Invest in the future you believe in with thematic investment strategies,
        offering diversified exposure to the market segments that will shape our
        lives.
      </span>
      <a
        href="{%url 'sign-up'%}"
        class="text-dark bg-main text-sm px-5 py-3 rounded-full max-md:mx-auto max-md:hidden mt-5 w-fit block"
        >Start Trading<i class="ri-arrow-right-up-line"></i
      ></a>
    </div>
  </div>

  <!-- copy trader explain ends -->

  <!-- steps start -->
  <section class="place-items-center   lg:w-4/5 mx-auto lg:space-y-10 mt-20">
    <h1 class="text-4xl font-bold">Begin in simple steps</h1>
    <div class="flex gap-5 text-center items-center max-md:flex max-md:flex-col max-md:items-center max-md:gap-10">
    <div class="space-y-2  place-items-center">
      <p
        class="w-20 text-2xl font-bold h-20 flex justify-center items-center rounded-full bg-gray-50 text-main"
      >
        1
      </p>
      <p class="font-bold text-xl">Register</p>
      <p class='max-md:w-3/5 max-md:text-center'>Create your account in a matter of minutes.</p>
    </div>
    <div class="w-[200px] h-1 bg-gray-100"></div>
    <div class="space-y-2 place-items-center">
      <p
        class="w-20 text-2xl font-bold h-20 flex justify-center items-center rounded-full bg-gray-50 text-main"
      >
        2
      </p>
      <p class="font-bold text-xl">Fund</p>
      <p class='max-md:w-3/5 max-md:text-center'>Fund your account using our flexible payment methods</p>
    </div>
    <div class="w-[200px] h-1 bg-gray-100"></div>
    <div class="space-y-2 place-items-center">
      <p
        class="w-20 text-2xl font-bold h-20 flex justify-center items-center rounded-full bg-gray-50 text-main"
      >
        3
      </p>
      <p class="font-bold text-xl">Trade</p>
      <p class='max-md:w-3/5 max-md:text-center'>Start trading and explore a world of endless opportunities.</p>
    </div>
  </div>
  </section>
  <!-- steps end -->
  <!-- Reviews -->
  <section
    class="px-10 bg-gradient-to-tr from-gray-50 to-sky-100 py-10 mx-auto w-full max-md:w-full mt-56 text-sm max-md:px-5"
    data-aos="fade-up"
    data-aos-duration="500"
  >
    <h1
      class="text-4xl max-md:text-2xl text-center mx-auto w-1/2 max-md:w-full font-semibold text-gray-900 py-3 pb-5"
    >
      Our unbeatable reviews
    </h1>
    <p class="text-gray-500 text-center mx-auto w-1/3 max-md:w-full">
      Users praise our platform for seamless transactions, a vast array of
      assets, and top-notch security.
    </p>
    <div
      class="mx-auto rounded-box mt-10 max-md:mt-5 grid grid-cols-3 max-md:grid-cols-1 px-5 gap-10 text-center max-md:gap-8 max-md:px-0 max-md:w-full"
    >
      <div
        class="flex flex-col items-center w-full p-10 bg-white py-20  gap-2 rounded-box justify-center"
      >
        <img
          src="{%static 'images/r4.jpg'%}"
          alt="reviewImage"
          class="h-32 w-32 rounded-full object-cover"
        />
        <h1 class="text-base font-medium text-main pb-5 pt-2">
          "Very Secured Plaform"
        </h1>
        <p class="">
          The system security is top notch, I was in need of a safe place to
          invest and this plaform helped alo
        </p>
        <span class="flex flex-col gap-1 text-sm text-gray-400">
          <span>Olive Saint</span>
        </span>
      </div>

      <div
        class="flex flex-col items-center w-full p-10 bg-white py-20  gap-2 rounded-box justify-center"
      >
        <img
          src="{%static 'images/r2.jpg'%}"
          alt="reviewImage"
          class="h-32 w-32 rounded-full object-cover"
        />
        <h1 class="text-base font-medium text-main pb-5 pt-2">
          "Very Smooth Sign Up"
        </h1>
        <p class="">
          Pretty solid so far!. Opening an account was relatively quick which
          was nice. And the spreads are amazing. Highly recommend this broker
        </p>
        <span class="flex flex-col gap-1 text-sm text-gray-400">
          <span>Chris Bosch</span>
        </span>
      </div>

      <div
        class="flex flex-col items-center w-full p-10 bg-white py-20  gap-2 rounded-box justify-center"
      >
        <img
          src="{%static 'images/r1.jpg'%}"
          alt="reviewImage"
          class="h-32 w-32 rounded-full object-cover"
        />
        <h1 class="text-base font-medium text-main pb-5 pt-2">
          "Reliable Expert Options"
        </h1>
        <p class="">
          I dont know much about forex or crypto trading, but I simply make
          profits by copying expert traders on the platform
        </p>
        <span class="flex flex-col gap-1 text-sm text-gray-400">
          <span>Riley James</span>
        </span>
      </div>
    </div>
  </section>

  <!-- accessibility starts -->
  <div
    class="bg-white text-black py-20 max-md:flex-col max-md:p-5 relative flex  max-md:h-fit  justify-center text-center items-center gap-10"
  >
    <div
      class="text-black px-20 max-md:px-5 z-50 max-md:text-center flex flex-col max-md:items-center max-md:w-full font-light text-sm"
    >
      <h1 class="text-6xl font-semibold max-md:text-3xl pb-6 pt-5">
        Join over 21K traders
      </h1>
      <p class="max-md:w-3/4 text-gray-600">
        Access your secured trading account from anywhere in the world
      </p>
      <a
        href="{%url 'sign-up'%}"
        class="bg-main text-black mx-auto px-5 py-3 rounded-full mt-10 w-fit block"
        >Open an account <i class="ri-arrow-right-up-line"></i
      ></a>
    </div>

  </div>
  <!-- accessibility ends -->

  {%include 'components/footer.html'%}

  <script>
    document.addEventListener("alpine:init", () => {
      const crypto = JSON.parse(document.getElementById("crypto").textContent);
      Alpine.data("home", () => ({
        crypto: crypto.slice(0, 15),
        flags: ["eu", "es", "my", "ae", "us", "cn", "jp", "ma"],
        wallets: [
          {
            name: "Trust Wallet",
            logo: "/static/images/trust.webp",
          },
          {
            name: "MetaMask",
            logo: "/static/images/metamask.webp",
          },
          {
            name: "OKX Wallet",
            logo: "/static/images/okx.webp",
          },
          {
            name: "Bitget Wallet",
            logo: "/static/images/okx.webp",
          },
          {
            name: "SafePal",
            logo: "/static/images/safepal.webp",
          },
          {
            name: "Changelly",
            logo: "/static/images/changelly.svg",
          },
          {
            name: "Coinbase Wallet",
            logo: "/static/images/coinbase.webp",
          },
          {
            name: "Rainbow Wallet",
            logo: "/static/images/rainbow.webp",
          },
          {
            name: "Safe Wallet",
            logo: "/static/images/safe.webp",
          },
        ],
      }));
    });
  </script>
</section>

{%endblock%}
